# Icinga Stack Environment Variables
# Copy this file to .env and customize the values as needed

# Network Configuration
# Set to 'true' to use an external monitoring_bridge network, 'false' to create it locally
USE_EXTERNAL_NETWORK=false

# Icinga2 API User Password
ICINGAWEB_ICINGA2_API_USER_PASSWORD=icingaweb

# Icinga Web Admin Password
ICINGAWEB_ADMIN_PASSWORD=icinga

# MySQL/MariaDB Passwords for Icinga Stack
# MySQL root password specifically was unset from random to allow persistance between container destroys/recreates
MYSQL_ROOT_PASSWORD=rootpassword
ICINGADB_MYSQL_PASSWORD=icingadb
ICINGAWEB_MYSQL_PASSWORD=icingaweb
ICINGA_DIRECTOR_MYSQL_PASSWORD=director

# InfluxDB Configuration
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=adminpassword
INFLUXDB_ADMIN_TOKEN=mytoken

# Grafana Configuration
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=grafanapassword